{% extends 'base.html' %}
{% block title %}Painel do Administrador{% endblock %}
{% block content %}
<div class="container mt-5 text-white">
  <h2>
    Bem-vindo, {{ current_user.nome }}
    {% if current_user.is_admin %}
      <span class="badge bg-danger">Administrador</span>
    {% endif %}
  </h2>
  <p class="lead">Acesse as opções abaixo para gerenciar o sistema.</p>

  <ul class="list-group list-group-flush mt-4">
    <li class="list-group-item bg-dark">
      <a href="{{ url_for('main.clientes') }}" class="btn btn-outline-light">👥 Gerenciar Clientes</a>
    </li>
    <li class="list-group-item bg-dark">
      <a href="{{ url_for('main.locacoes') }}" class="btn btn-outline-light">🎬 Gerenciar Locações</a>
    </li>
    <li class="list-group-item bg-dark">
      <a href="{{ url_for('main.usuarios') }}" class="btn btn-outline-light">👤 Gerenciar Usuários</a>
    </li>
    <li class="list-group-item bg-dark">
      <a href="{{ url_for('main.listar_filmes') }}" class="btn btn-outline-light">🎬 Gerenciar Filmes</a>
    </li>
    <li class="list-group-item bg-dark">
      <a href="{{ url_for('main.novo_filme') }}" class="btn btn-outline-light">➕ Cadastrar Novo Filme</a>
    </li>
    <li class="list-group-item bg-dark">
      <a href="{{ url_for('main.logout') }}" class="btn btn-outline-light">🚪 Sair</a>
    </li>    
  </ul>
</div>
{% endblock %}
