{% extends 'base.html' %}
{% block title %}{{ titulo }}{% endblock %}
{% block content %}
<div class="container mt-5 text-white">
  <h2 class="mb-4">{{ titulo }}</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.cliente.label }} {{ form.cliente(class="form-select") }}
    </div>
    <div class="mb-3">
      {{ form.filmes.label }}
      {% for subfield in form.filmes %}
        <div class="form-check">
          {{ subfield(class="form-check-input") }}
          {{ subfield.label(class="form-check-label") }}
        </div>
      {% endfor %}
    </div>
    <div class="mb-3">
      {{ form.data_devolucao.label }} {{ form.data_devolucao(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
  </form>
</div>
{% endblock %}
