{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container mt-5 text-white">
  <h2>Login</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="alert alert-warning mt-3">
        {% for message in messages %}
          <div>{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.email.label }} {{ form.email(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.senha.label }} {{ form.senha(class="form-control") }}
    </div>
    <div class="form-check mb-3">
      {{ form.lembrar(class="form-check-input") }} {{ form.lembrar.label }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
  </form>
</div>
{% endblock %}
