{% extends 'base.html' %}
{% block title %}Editar Perfil{% endblock %}
{% block content %}
<div class="container mt-5 text-white">
  <h2 class="mb-4">Editar Perfil</h2>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.nome.label }} {{ form.nome(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.email.label }} {{ form.email(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-success") }}
  </form>
</div>
{% endblock %}