{% extends 'base.html' %}
{% block title %}Usuários{% endblock %}
{% block content %}
<div class="container mt-5 text-white">
  <h2 class="mb-4">Lista de Usuários</h2>
  <table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Admin</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for usuario in usuarios %}
      <tr>
        <td>{{ usuario.nome }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ 'Sim' if usuario.is_admin else 'Não' }}</td>
        <td>
          {% if not usuario.is_admin %}
            <a href="{{ url_for('main.promover_usuario', id=usuario.id) }}" class="btn btn-success btn-sm">Promover</a>
          {% else %}
            <a href="{{ url_for('main.rebaixar_usuario', id=usuario.id) }}" class="btn btn-warning btn-sm">Rebaixar</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
